#owl-demo{
    width: 100%;
    height: 100%;
    /*margin:40px auto;*/
    position: absolute;
    top: 20px;
    /*position: relative;*/
}
#tabs1{
    position: absolute;
    right:20px;
    bottom:5%;!important;
    z-index: 4;
}
#tabs1 li{
    width: 20px;
    height: 20px;
    background: #000000;
    color: #fff;
    text-align: center;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    list-style: none;
}
#tabs1 .selected{
    background: #7dba5c;
    color: #ffffff;
}
#tupian img{
    display: none;
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
#tupian  .selected{
    display: block;
}
/*#arrows1{*/
    /*position: absolute;*/
    /*left:20px;*/
    /*top:500px;*/
    /*z-index: 4;*/
/*}*/
/*#arrows1 span {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*float: left;*/
    /*text-align: center;*/
    /*background: #7dba5c;*/
    /*color: #ffffff;*/
    /*margin-right: 5px;*/
    /*cursor: pointer;*/
    /*line-height: 20px;*/
/*}*/